# Compiled python modules
*.pyc

# Python egg metadata
*.egg-info/
*.egg

# Local iprPy settings
iprPy/.iprPy

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

# Virtual Studio Code metadata
.vscode/

calculationfiles/